.svg {
    position:absolute;
    top:0;
    left:0;
}

.bg {

}

.mask {

}

.window {
    display: none;
    position:absolute;
    width:400px;
    height:200px;
    left:calc(50% - 200px);
    top:calc(50% - 100px);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.window-next-btn,
.window-prev-btn {
    width: 100px;
    height: 33px;
    display: block;
    position: absolute;
    right:30px;
    text-align: center;
    bottom:30px;
    padding:7px;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #49ace2;
    border: solid 2px #49ace2
}

.window-prev-btn {
    left:30px;
}