.svg {
    position:absolute;
    top:0;
    left:0;
}

.bg {

}

.mask {

}

.window {
    display: none;
    position:absolute;
    width:400px;
    min-height:200px;
    left:calc(50% - 200px);
    top:calc(50% - 100px);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
    font-family: Roboto;
    padding-bottom: 30px;
}

.window-next-btn {
    display: block;
    position: absolute;
    right:30px;
    text-align: left;
    bottom:30px;
    padding:8px 15px 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    color: #49ace2;
    border: solid 2px #49ace2
}

.window-next-btn>.window-btn-icon {
    font-size:19px;
    position:absolute;
    display: none;
    right:15px;
    top:5px;
}

.window-button-has-next {
    padding:8px 50px 8px 15px;
}
.window-button-has-next>.window-btn-icon {
    display: block;
}

.window-prev-btn {
    display: block;
    position: absolute;
    left:30px;
    bottom:30px;
    padding:5px;
    color: #cacaca;
    pointer-events: none;
    cursor: default;
}

.window-prev-btn>.window-btn-icon {
    font-size:19px;
}

.window-title {
    position:relative;
    margin-top:25px;
    margin-left:30px;
    font-size: 16px;
    font-weight: bold;
}

.window-body {
    position:relative;
    margin-top:19px;
    margin-left:30px;
    font-size: 12px;
    line-height: 1.5;
}

.window-button-has-prev {
    color: #49ace2;
    pointer-events: all;
    cursor: pointer;
}

